DEBUG=True
SECRET_KEY=change-me
ALLOWED_HOSTS=127.0.0.1,localhost
DATABASE_URL=sqlite:///db.sqlite3
# Для PostgreSQL: postgresql://user:pass@localhost:5432/dbname
REDIS_URL=redis://redis:6379/0
# Яндекс OAuth (https://oauth.yandex.ru/)
YANDEX_CLIENT_ID=
YANDEX_CLIENT_SECRET=
